.main-delivery {
    padding: 20px;
}

.procurement-list-delivery {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.procurement-item-delivery {
    display: flex;
    align-items: center;
    background-color: #E0E1F1;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 75%;
    align-items: center;
    margin-left: 10%;
    height: 120px;
}

.product-image-delivery {
    width: 200px;
    height: 120px;
    border-radius: 10px;
    margin-right: 15px;
    object-fit: cover;
    margin-left: 10%;
}

.product-info-delivery {
    flex-grow: 1;
}

.product-name-delivery {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    font-size: 20px;
    margin-bottom: 12%;
}

.action-container-delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-button-delivery {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

.product-status-delivery {
    font-size: 0.875rem;
    color: #666;
    margin-top: 5px; /* เพิ่มระยะห่างระหว่างปุ่มและข้อความ */
}

.payment-button-delivery:hover {
    color: #000;
}

.loading-delivery, .error-delivery, .no-details-delivery {
    text-align: center;
    font-size: 1rem;
    color: #666;
}
